

img.displayed {
    	display: block;
    	margin-left: auto;
    	margin-right: auto 
}

p {
		text-align:center
}
.night {
	background-color: #000;
	color: #FFF;
}

.day {
	background-color: #96dff4;
	color: #000;
}